<%- include ('header'); -%>
  <body>

<div class="box" id="heading">
  <h1><%= encabezado  %></h1>
</div>

<div class="box">
  <% newListItems.forEach((item) => {  %>
    <form action="/deleted" method="post">
    <div class="item" >
      <input type="checkbox" name="checkbox" value=<%=item._id%> onChange="this.form.submit()" >
      <p><%= item.name %> </p>
    </div>
    </form>
  <%});%>

  <form class = "item" action="/" method="post">
    <input type="text" name="newItem" placeholder="New Item" autocomplete="off">

    <!-- El bottom lo ocupo para saber que tiene el encabezado (Tareas del dia o la fecha del dia)
    aqui defino si se va para "/work" o para raiz "/"" -->
    <button type="submit" name="list" value=<%=encabezado%> >+</button>
  </form>
</div>
</body>
<%- include ('footer'); -%>
